<p>
    <strong>Sort By:</strong> 
    <span style="margin: 10px;">
        <input [(ngModel)]="sortBy" (change)="changeSortBy()" type="radio" id="name" name="sortBy" value="name">
        <label for="name">Name</label>
    </span>
    <span>
        <input [(ngModel)]="sortBy" (change)="changeSortBy()" type="radio" id="age" name="sortBy" value="age">
        <label for="age">Age</label><br>
    </span>

    <strong>Type:</strong> 
    <span style="margin: 10px;">
        <input [(ngModel)]="type" (change)="changeType()" type="radio" id="asce" name="type" value="asce">
        <label for="asce">Ascending</label>
    </span>
    <span>
        <input [(ngModel)]="type" (change)="changeType()" type="radio" id="desc" name="type" value="desc">
        <label for="desc">Descending</label><br>
    </span>
</p>